@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
        font-size: 0.9em;
    }

    h1 {
        @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
    }
}

a {
    @apply underline
}

.markdown {
    @apply mb-1;
}

.alert .markdown {
    @apply mb-0;
}

.markdown p {
    @apply mb-3;
}

.btn:disabled {
    @apply text-neutral-400 bg-neutral-700;
}

.message-container {
    width: auto;
    padding: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Optional: for rounded corners */
    margin: 20px auto; /* Centers the form horizontally */
    color: white;
    opacity: 0.6;
    text-align: center;
}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent grey */
    z-index: 9999;                  /* on top of everything */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Fallback for smaller screens */
    max-width: 400px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9); /* Fallback solid background */
    z-index: 1000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Add a spinner for feedback */
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #4a9cd3; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 20px auto;
    animation: spinner 1s linear infinite;
}